<html xmlns:th="http://www.thymelaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
    </head>
    <body>
        <section th:fragment="listadoCategoria">
            <a th:href="@{/inventario/agregarCategoria}">[[#{accion.agregar}]]:</a>
            <br />
            <span>[[#{categoria.total}]]: [[${totalCategorias}]]</span>
            <table>
                <thead>
                    <tr>
                        <th th:text="'Categoria'"></th>
                        <th th:text="'Edicion'"></th>
                        <th th:text="'Eliminacion'"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="categoria : ${categorias}">
                        <td><a th:href="@{/inventario/productosAsociados/} + ${categoria.idCategoria}">[[${categoria.descripcion}]]</a></td>
                        <td><a th:href="@{/inventario/editarCategoria(idCategoria=${categoria.idCategoria})}" 
                               sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</a></td>
                        <td><a th:href="@{/inventario/eliminarCategoria(idCategoria=${categoria.idCategoria})}"
                               sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>
