<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:fragment="listadoProductos">
            <div th:if="${productos != null and !productos.empty}">

                <table border="1">
                    <tr>
                        <th>#</th>
                        <th th:text="#{producto.nombre}"></th>
                        <th th:text="#{producto.precio}"></th>
                        <th th:text="#{producto.stock}"></th>
                        <th th:text="#{producto.estado}"></th>
                    </tr>
                    <tr th:each="producto, contador : ${productos}">
                        <td>[[${contador.count}]]</td>
                        <td>[[${producto.nombre}]]</td>
                        <td>[[${new java.text.DecimalFormat('#,##0.00').format(producto.precioUnitario)}]]</td>
                        <td>[[${producto.stock}]]</td>
                        <td>[[${producto.estado}]]</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a
                                th:href="@{/proInventario/editar/} + ${producto.idProducto}">
                                [[#{accion.editar}]]
                            </a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a  
                                th:href="@{/proInventario/eliminar(productoPK=${producto.idProducto})}">
                                [[#{accion.eliminar}]]
                            </a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_USER')">
                            <a th:href="@{/inventario/articuloCarrito/} + ${producto.idProducto} + '/' + ${producto.categoria.idCategoria}"
                               th:text="${'Agregar a carrito'}"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${productos.empty or productos == null}">
                <span th:text="#{listadoProductos.lista-vacia}"></span>
            </div>
        </section>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:action="@{/proInventario/agregarProducto}" method="POST" th:object="${producto}">
                <input type="hidden" th:field="*{idProducto}" />
                <div>
                    <label>Nombre</label>
                    <input type="text" th:field="*{nombre}" />
                </div>
                <div>
                    <label>Precio</label>
                    <input type="text" th:field="*{precioUnitario}" />
                </div>
                <div>
                    <label>Stock</label>
                    <input type="number" th:field="*{stock}" />
                </div>
                <div>
                    <label>Estado</label>
                    <input type="text" th:field="*{estado}" />
                </div>
                <div>
                    <input type="submit" value="Enviar" />
                </div>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
