<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>[[#{plantilla.titulo}]]</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <header th:fragment="header">
            <h1>[[#{plantilla.subtitulo}]]</h1>
            <ul sec:authorize="isAuthenticated()">
                <li>
                    <a th:href="@{/inventario/}">
                        <span th:text="#{plantilla.saludo}"></span>
                        <span sec:authentication="name">Usuario</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')">
                    <div th:if="${productosCarrito} != 0">
                        <a th:href="@{/carrito/objetosCompra}" th:text="'Objetos en carrito:' + ${productosCarrito}"></a>
                    </div>
                    <div th:if="${productosCarrito} == 0">
                        <a th:href="@{/carrito/objetosCompra}" th:text="'Aun no hay objetos que comprar'"></a>
                    </div>
                </li>
                <li>
                    <form th:action="@{/logout}" method="POST">
                        <a href="#" onclick="this.parentNode.submit();">
                            [[#{plantilla.salir}]]
                        </a>
                    </form>
                </li>
            </ul>
        </header>
        <footer th:fragment="footer">
            <p>
                <a th:href="@{/inventario/(lang=es)}">ES</a> |
                <a th:href="@{/inventario/(lang=en)}">EN</a>
                <span>[[#{plantilla.pie-pagina}]] &COPY; Erick Diaz</span>
            </p>
        </footer>
    </body>
</html>
