<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/facturaFinal :: factura"></section>
        <form th:action="@{/inventario/terminar}" method="GET">
            <input type="submit" value="Terminar" />
        </form>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
